* {
  font-size: 10px;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
}

.hero-section {
  background-color: #f3e9fb;
  padding: 9.6rem 0;
}

.hero-image {
  width: 100%;
}

.hero-header {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.01;
  color: #333;
  letter-spacing: -1px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 1.6rem;
  line-height: 1.3;
  margin-bottom: 4.8rem;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0;
  border-width: 0;
  transition: background-color 0.3s;
}

.btn:last-child {
  margin-left: 0.5rem;
}

.btn--full {
  background-color: #8826d9;
}

.btn--outline {
  color: #8826d9;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #8826d9;
}

.btn--full:hover {
  background-color: #5f1b98;
}
.btn--outline:hover {
  background-color: #fff;
}
.btn:hover {
  cursor: pointer;
}
